.login__form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 4px;
  gap: 10px;
  background-color: rgb(214, 164, 164);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.login__input {
  background-color: rgba(247, 244, 244, 0.929);
  width: 70%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.login__button {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px; 
  background-color: rgb(197, 75, 75);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.login__button:hover {
    background-color: rgb(225, 128, 128);
}
